/* Colors */
/*
dark blue: #476A6F
light blue: #258EA6
dark green: #519E8A
medium green: #7EB09B
light green: #A3C4BC
*/

.wrapper {
  // height: 100vh;
  width: 100%;
  display: flex;
  // flex-direction: row;
  justify-content: center;
  // align-items: center;
  /*background-color: #258ea6;*/
}

.card-wrapper {
  max-width: 600px;
  margin: 0px;
}

.form-wrapper {
  padding: 10px 20px;
}

.group-wrapper {
  display: flex;
  flex-direction: row;
  // justify-content: center;
  flex-wrap: wrap;
}

.form-title {
  text-align: center;
}
// form {
//   display: flex;
//   flex-direction: column;
// }

.profile-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
}

.input {
  width: 100%;
  margin: 3px 10px;
}

.small-input {
  width: 40%;
  margin: 3px 10px;
  margin-right: 40px;
}

.small {
  color: #999;
  font-weight: lighter;
  font-size: small;
}

// h1 {
//   text-align: center;
//   width: 100%;
//   color: #111;
//   font-weight: lighter;
//   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
//     Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
// }

// label {
//   font-size: 0.8em;
//   margin-bottom: 0.1em;
//   color: #222;
//   font-weight: lighter;
// }

// input {
//   padding: 10px 10px;
//   border-radius: 5px;
//   outline: none;
//   border: 1px solid #cfcfcf;
// }

// input::placeholder {
//   font-size: 1.2em;
//   font-weight: lighter;
//   color: #999;
// }

// input.error {
//   border: 1px solid red;
// }

// .errorMessage {
//   color: red;
//   font-size: 0.75em;
//   display: relative;
// }

// .name {
//   margin-right: 1%;
// }

// .lastName {
//   margin-left: 1%;
// }

// .name,
// .email {
//   display: flex;
//   flex-direction: column;
//   margin-bottom: 0px;
// }

// .name {
//   width: 100%;
// }

// .email {
//   width: 100%;
// }

// .createAccount {
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// .pbutton {
//   background-color: #519e8a;
//   color: #fff;
//   border: 2px solid #fff;
//   width: 150px;
//   margin-top: 0.5em;
//   padding: 8px 0px;
//   font-size: 1em;
//   font-weight: lighter;
//   letter-spacing: 1px;
//   margin-bottom: 0.25em;
//   align-items: center;
// }

// .pbutton:hover {
//   color: #519e8a;
//   background-color: #fff;
//   border: 2px solid #519e8a;
// }
